/*   CSS for parrelex demo */
/* CSS */
body {
	font-family: arial, sans-serif, verdana;
	height:5000px;
	color:white;
	margin:0;
	padding:0;
}
#home { 
	background: url('../img/bcg_slide-1.jpg') 50% 0 no-repeat fixed ;	
	background-size: cover;
	min-height: 1000px;
	height: 1000px; 
	margin: 0 auto; 
	width: 100%; 
	max-width: 1920px; 
	position: relative; 
}
#home article { 
  height: 458px; 
  position: absolute; 
  text-align: center; 
  font-size: 65px;
  text-shadow: 2px 7px 5px #222;
  font-family: 'arial';
  top: 350px; 
  width: 100%; 
}
 
#about { 
	background: url('../img/bcg_slide-3.jpg') 50% 0 no-repeat fixed;
	background-size: cover;
	 min-height: 1000px;  
	height: 1000px; 
	margin: 0 auto; 
	width: 100%; 
	max-width: 1920px; 
	position: relative; 
	
}
#about article { 
  height: 458px; 
  position: absolute; 
  text-align: center; 
  top: 350px; 
  width: 100%; 
  font-size: 65px;
  font-family: 'arial';
  text-shadow: 2px 7px 5px #222;
}

#team { 
	background: url('../img/bcg_slide-4.jpg') 50% 0 no-repeat fixed;   
	background-size: cover;
	min-height: 1000px;
	height: 1000px; 
	margin: 0 auto; 
	width: 100%; 
	max-width: 1920px; 
	position: relative; 
	
}
#team article { 
  height: 458px; 
  position: absolute; 
  text-align: center; 
  top: 350px; 
  width: 100%; 
  font-size: 65px;
  font-family: 'arial';
  text-shadow: 2px 7px 5px #222;
}

#porfolio { 
	background: url('../img/bcg_slide-5.jpg') 50% 0 no-repeat fixed;   
	background-size: cover;
	min-height: 1000px;
	height: 1000px; 
	margin: 0 auto; 
	width: 100%; 
	max-width: 1920px; 
	position: relative; 
	
}
#porfolio article { 
  height: 458px; 
  position: absolute; 
  text-align: center; 
  top: 350px; 
  width: 100%; 
  font-size: 65px;
  font-family: 'arial';
  text-shadow: 2px 7px 5px #222;
}

#contact { 
	background: url('../img/bcg_slide-5b.jpg') 50% 0 no-repeat fixed;   
	background-size: cover;
	min-height: 1000px;
	height: 1000px; 
	margin: 0 auto; 
	width: 100%; 
	max-width: 1920px; 
	position: relative; 
	
}
#contact article { 
  height: 458px; 
  position: absolute; 
  text-align: center; 
  top: 350px; 
  width: 100%; 
  font-size: 65px;
  font-family: 'arial';
  text-shadow: 2px 7px 5px #222;
}